# This is Git's per-user configuration file.
[user]
  name = Thomas Lockney
  email = thomas@lockney.net
  github = tlockney
	signingkey = ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDV8/eESUTbQT1/gKktI5rE1+ZgzXG3VGI/L+6w3zVCA1JNw1e0ARTdFj0pqAmhJ1hfbCERB5o3zooVxchPZLnWlyLGrMIWrZXC2csHkYAnqqGgpwJUFssA1ShznP5zExKxloXibKBIU8bZto3hP3OEawPDBwcZ+VPucOG8CkmOTi9rlZykqNguTuO3Aj+7SpxkZqo5EMvZjgbMxO3KPamcOLE+GVb+OZ5ys8byfyaFc+6oVTDttjf73adtbypwyJAdSPupE4wPV+QAjkgS5NiRGb0beDaOKfHhlOGtHasbgYLYNCXWHbTQAX1C3oibd2LdgPz9XHrimnEb9r52S1wE+ZVS8rFu8Q9VbRpg+yuAAYSZ2xbcJpX43uc2PiYeOJtMQ17NSR2OXj4eO1CgJhzgTOxjFpDF0nOFeZ+bi+AqEQ+C0FzZ2ULo0TaNrHBrI7BZvNiH4M7uk8v8vGQzSC7JW1S7PThNC0YeaEbx8PhGBxWjqEWT+UzeTldMIs6Npo8=

[includeIf "gitdir:~/src/metron"]
  path = ~/.gitconfig-metron

[includeIf "gitdir:~/src/personal"]
  path = ~/.gitconfig-personal

[core]
  editor = emacs -nw
#  sshCommand = ssh -i ~/.ssh/id_rsa_tlockney
[pull]
  rebase = false
[init]
  defaultBranch = main
[gpg]
  format = ssh
[rerere]
  enabled = true
[merge]
  conflictstyle = zdiff3
[diff]
  algorithm = histogram
[alias]
  co = checkout
  br = branch
  ci = commit
  st = status
  lg = log --oneline --graph --decorate
  lga = log --oneline --graph --decorate --all
  unstage = reset HEAD --
  last = log -1 HEAD
  scrub = "!git branch --merged | grep -v main | grep -v master | xargs git branch -d"
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = false
