# This is Git's per-user configuration file.
[user]
  name = Thomas Lockney
  email = thomas@lockney.net

[includeIf "gitdir:~/src/personal"]
  path = ~/.gitconfig-personal

[includeIf "gitdir:~/src/metron/"]
  path = ~/.gitconfig-metron

[core]
  editor = emacs -nw

[pull]
	rebase = false

[init]
  defaultBranch = main
[gpg]
	format = ssh
