# This is Git's per-user configuration file.
[user]
  name = Thomas Lockney
  email = thomas@lockney.net
  github = tlockney

[includeIf "gitdir:~/src/personal"]
  path = ~/.gitconfig-personal

[includeIf "gitdir:~/src/metron"]
  path = ~/.gitconfig-metron

[core]
  editor = emacs -nw
  sshCommand = ssh -i ~/.ssh/id_rsa_tlockney
[pull]
  rebase = false
[init]
  defaultBranch = main
[gpg]
  format = ssh
[rerere]
  enabled = true
[merge]
  conflictstyle = zdiff3
[diff]
  algorithm = histogram
[alias]
  co = checkout
  br = branch
  ci = commit
  st = status
  lg = log --oneline --graph --decorate
  lga = log --oneline --graph --decorate --all
  unstage = reset HEAD --
  last = log -1 HEAD
  scrub = "!git branch --merged | grep -v main | grep -v master | xargs git branch -d"
