name: Lint Shell Scripts

on:
  pull_request:
    paths:
      - 'bin/**'
      - '.config/shell/**'
      - '.config/zsh/**'
      - '.profile'
      - '.bashrc'
      - '.bash_profile'
      - '.zprofile'

jobs:
  shellcheck:
    name: ShellCheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@2.0.0
        with:
          scandir: './bin'
          ignore_names: '*.md'
          additional_files: '.config/shell/common-profile.sh .config/zsh/update-completions.sh'
